<!doctype html>
<html>
<head>
    <title>layout列表</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 10px;
        }

        h2 {
            margin-bottom: 10px;
        }

        ul, ol {
            list-style: none;

        }

        li {
            margin: 10px 0;
        }

        li a {
            display: inline-block;
            vertical-align: middle;
        }

        li .iconb {
            display: inline-block;
            background-image: url('/server/images/ui-icons_222222_256x240.png');
            background-repeat: no-repeat;
            vertical-align: middle;
            width: 16px;
            height: 16px;
        }

        li.fileicon .iconb {
            background-position: -32px -95px;
        }

        li.diricon .iconb {
            background-position: -2px -95px;
        }

        a {
            text-decoration: none;
        }

        a.goback {
            font-size: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        p.empty {
            color: #ff0000;
        }
    </style>
</head>
<body>
<h2><%= dirName %>文件夹内的文件列表</h2>
<a class="goback" href="<%= parentPathLink %>">返回上一级文件夹</a>
<% if(items !== false){ %>
<ul>
    <% for(var i = 0, m = items.length; i < m; i++) { var acc = items[i] %>
    <li class="<% if(acc.litype === '0'){ %>fileicon<% }else if(acc.litype === '1'){ %>diricon<% } %>">
        <b class="iconb"></b><a
                href="<%= dirpath + acc.liname %>"><%= acc.liname %></a>
    </li>
    <% } %>
</ul>
<% }else{ %>
<p class="empty"><%= dirName %>文件夹内没有文件</p>
<% } %>
</body>
</html>